{% load wagtailimages_tags %}

<div class="card">
    {% if self.image.is_landscape %}
    {% image self.image fill-1920x1080 class="card-img img-fluid shadow-sm" %}
    {% else %}
    {% image self.image fill-640x960 class="card-img img-fluid shadow-sm" %}
    {% endif %}
    {% if self.attribution %}
    <div class="card-img-overlay text-white">
        <div class="float-right">
            <a tabindex="0" role="button" class="btn btn-sm btn-outline-light rounded-circle opacity-50"
               data-bs-container="body"
               data-bs-toggle="popover"
               data-bs-trigger="focus"
               data-bs-placement="left"
               data-bs-content="{{ self.attribution }}"
               data-container="body"
               data-toggle="popover"
               data-trigger="focus"
               data-placement="left"
               data-content="{{ self.attribution }}"
               title="{{ self.image.title }}">
            <i class="fas fa-info-circle"></i>
            </a>
        </div>
    </div>
    {% endif %}
</div>